*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  background: #777;
  width: 960px;
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 80px;
}

header {
  color: #777;
  background: #ebebee;
  padding: 30px;
  margin-bottom: 10px;
  height:80px;
  text-align: center;
  font-size: 18px;
}


nav {
  color: #777;
  background: #ebebee;
  padding: 30px;
  margin-bottom: 20px;
  height:80px;
  text-align: center;
}

.outersection {
  background: #ebebeb;
  color: #777;
  padding: 10px;
  padding-top: 40px;
  margin-bottom: 10px;
  height: 300px;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  float: left;
  width: 495px;
}

.innersection {
  background: #ebebeb;
  color: #777;
  padding: 10px;
  margin-bottom: -9px;
  margin-top: 10px;
  height: 55px;
  box-sizing: border-box;
  text-align: center;
  font-size: 24px;
  width: 455px;
}
aside {
  width: 445px;
  background: #ebebeb;
  padding: 10px 0;
  padding-top: 40px;
  margin-bottom: 10px;
  margin-left: 20px;
  float: left;
  background: #ebebeb;
  color: #777;
  text-align: center;
  height: 300px;
}
  
footer {
  clear: both;
  background: #ebebeb;
  color: #777;
  height: 50px;
  text-align: center;
  padding: 10px;
}

article {
  background: #777;
  color: white;
  padding: 10px;
  margin-top: 40px;
  height: 180px;
  text-align: center;
  width: 475px;
  float: left;
}
    
h1, h2, h3 {
  background: #777;
  color: #333;
  margin-bottom: 10px;
  float: left;
  width: 150px;
  height: 100px;
}  
p {
  background: #ebebeb;
  color: #777;
  margin-bottom: 10px;
  padding: 0px;
  float: left;
  width: 455px;
  height: 60px;
}